body {
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
}

.container {
  padding: 10px;
  background-color: #fff;
  margin: 30px auto;
  width: 85%;
}

header {
  text-align: center;

  img {
    width: 50%;
  }
}

.menu {
  text-align: center;
  border-bottom: 2px solid #eee;
  border-top: 2px solid #eee;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0 10px 0;
    li {
      display: inline;
      text-transform: uppercase;

      &:not(:first-child) {
        margin-left: 15px;
      }
    }
  }
}

.post-content {
  img {
    max-width: 100%;
  }
}
.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: 10px 12px;
      border: 1px solid #eee;
      &:hover { border-color: #eee }
    }
  }
}

.pagination {
  margin-bottom: 10px;
  @extend .social-media-list;
  li {
    list-style-type: none;
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: 10px;

      &.pager-edge {
        color: #eee;
        border: 1px dashed;
      }
    }
  }
}

footer {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 7px;
  text-align: center;

  .footer-details {
    margin-bottom: 5px;
  }
}
